{% if page.title %} {% assign title = page.title ~ ' - ' ~ page.subtitle %} {% else %} {% assign title = site.title %} {% endif %}
{% if page.description %} {% assign description = page.description %} {% else %} {% assign description = site.description %} {% endif %}
{% if page.keywords %} {% assign keywords = page.keywords %} {% else %} {% assign keywords = site.keywords %} {% endif %}
{% if page.cover %} {% assign cover = page.cover %} {% else %} {% assign cover = site.cover %} {% endif %}

<!-- Google plus -->
<meta name="author" content="{{ site.author.googleplus }}">
<link rel="author" href="{{ site.author.googleplus }}">

<!-- Open Graph -->
<meta property="og:locale" content="{{ site.lang }}">
{% if page.path contains '_posts' %}
<meta property="og:type" content="article">
{% else %}
<meta property="og:type" content="website">
{% endif %}
{% if page.title != "Blog" %}
  <meta property="og:title" content="{{ page.title }} &raquo; {{ site.title }} " />
  <meta property="og:description" content="{{ page.content | strip_html | xml_escape | truncate: 200 }}" />
{% else %}
  <meta property="og:title" content="{{ site.title }}" />
  <meta property="og:description" content="{{ description }}" />
{% endif %}
<meta property="og:image" content="{{ site.url }}/logo.png">
<meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.url }}">
<meta property="og:site_name" content="{{ site.title }}">

<!-- Twitter Cards -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@1924_me" />
{% if page.title != "Blog" %}
  <meta property="og:title" content="{{ page.title }} &raquo; {{ site.title }} " />
  <meta property="og:description" content="{{ page.content | strip_html | xml_escape | truncate: 200 }}" />
{% else %}
  <meta property="og:title" content="{{ site.title }}" />
  <meta property="og:description" content="{{ description }}" />
{% endif %}


<!-- Did I include an "image" variable in this post's front matter? -->
{% assign foundImage = 0 %}
      {% assign images = post.content | split:"<img " %}
      {% for image in images %}
        {% if image contains 'src' %}
            {% if foundImage == 0 %}
                {% assign html = image | split:"/>" | first %}
                <img {{ html }} />
                {% assign foundImage = 1 %}
            {% endif %}
        {% endif %}
      {% endfor %}

 {% if foundImage == 1 %}
  <meta name="twitter:card"  content="summary_large_image">
  <meta name="twitter:image" content="{{ site.url }}/{{ html }}">
 {% else %}
  <meta name="twitter:card"  content="summary">
  <meta name="twitter:image" content="{{ site.url }}/logo.png">
 {% endif %}
