{% if page.title %} {% assign title = page.title ~ ' - ' ~ page.subtitle %} {% else %} {% assign title = site.title %} {% endif %}
{% if page.description %} {% assign description = page.description %} {% else %} {% assign description = site.description %} {% endif %}
{% if page.keywords %} {% assign keywords = page.keywords %} {% else %} {% assign keywords = site.keywords %} {% endif %}
{% if page.cover %} {% assign cover = page.cover %} {% else %} {% assign cover = site.cover %} {% endif %}

<!-- Google plus -->
<meta name="author" content="{{ site.author.googleplus }}">
<link rel="author" href="{{ site.author.googleplus }}">

<!-- Open Graph -->
<meta property="og:locale" content="{{ site.lang }}">
<meta property="og:type" content="website">
<meta property="og:title" content="{{ site.title }}">
<meta property="og:description" content="{{ description }}">
<meta property="og:image" content="https://1924piecesofme.com/logo.png">
<meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.url }}">
<meta property="og:site_name" content="{{ site.title }}">

<!-- Twitter Cards -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@1924_me" />
<meta property="og:url" content="https://1924piecesofme.com" />
<meta property="og:title" content="{{ site.title }}" />
<meta property="og:description" content="{{ description }}" />
<meta property="twitter:image" content="https://1924piecesofme.com/twitter-card.png" />
<meta name="twitter:image:alt" content="1924 Pieces of Me">
